<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <h1>PatrickStore</h1>
    <p>Hi, <%= @user.email %></p>
    You have ordered successfully, please check via website <a>PatrickStore.com</a>
    <hr>
    or contact me <a href="">patrick204nqh@gmail.com</a>
  </body>
</html>